.user {
  position: absolute;
  width: auto;
  height: auto;
  padding-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: grab;
}

/* .user::after,
  .user::before {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    border: 1px solid #113b65;
    background: #07427a;
    border-radius: 50%;
  } */

.user .head {
  background: #07427a;
  width: 70px;
  height: 70px;
  margin-bottom: -8px;
  border: 1px solid #113b65;
  border-radius: 50%;
  z-index: 1;
}

.user .body {
  border: 1px solid #113b65;
  background: #07427a;
  width: 200px;
  height: auto;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  padding: 16px;
}

.user .body h3,
.user .body p,
.user .body span {
  cursor: text;
}

.user .body h3 {
  margin: 0;
}

.user .body p {
  margin-bottom: 0;
}

/* .user input {
  width: 100%;
  border: none;
  border-radius: 10px;
  margin: 8px 0;
  padding: 8px;
  font-size: 22px;
} */
