#landing {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
}

#landing .wrapper {
  height: 100%;
  width: 100%;
  max-width: 1000px;
}

#landing .content {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#landing .content h1 {
  color: #333;
  font-family: Neucha;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 10rem;
}

#landing .content p {
  font-family: "Open Sans";
  text-align: center;
  max-width: 450px;
}

#landing nav {
  display: flex;
  padding: 2rem 1rem;
}

#landing nav .logo {
  font-family: Neucha;
  font-weight: bold;
  font-size: 3rem;
}

#landing nav .links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

#landing nav a {
  /* color: #fff; */
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
}

#landing nav a.highlighted,
#landing .content button {
  color: #333;
  /* background-color: #fff; */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #fff;
}

#landing nav a.highlighted {
  color: #fff;
  background-color: #333;
  transition: 500ms;
}

#landing nav a.highlighted:hover {
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
}

#landing .content button {
  margin: 2rem;
  color: #333;
  cursor: pointer;
  outline: none;
  transition: 500ms;
  background-color: #d3d3d3;
}

#landing .content button:hover {
  color: #fff;
  background-color: #333;
}
